@import url("https://fonts.googleapis.com/css?family=Raleway:700&display=swap");

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding-top: 25px;
  position: relative;
}

.fire {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 100%;
  height: auto;
  width: auto\9;
  border-radius: 3%;
  opacity: 0.9;
}

.fire_anchor {
  width: 510px;
}

body {
  background: url("https://i.imgur.com/051b7XH.jpg") no-repeat center center
    fixed;
  background-color: black;
  font-family: "Raleway", sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0 auto;
  color: whitesmoke;
  margin-top: 25px;
  font-family: "Raleway", sans-serif;
}

.navBar {
  display: flex;
  align-items: center;
  max-width: 100%;
  flex-wrap: wrap;
  height: auto;
  width: auto\9;
  font-family: "Raleway", sans-serif;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  align-content: center;
  flex-wrap: wrap;
  color: white;
}

nav > a {
  margin-left: 8%;
  margin-right: 8%;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  padding-bottom: 2px;
  border-bottom: 3px solid transparent;
  opacity: 0.9;
  transition: border-bottom 0.2s ease-out;
}

@media only screen and (max-width: 600px) {
  nav > a {
    font-size: 4vw;
    margin-left: 4%;
  }

  div.navBar {
    margin-left: 8px;
  }

  a.available_now {
    font-size: 36px;
  }

  div.socials {
    margin-left: 0;
  }

  div.socials > a {
    margin: 0 5px;
    padding-top: 10px;
  }

  div.socials > a > img {
    width: 25px;
    height: 25px;
  }

  div.album_cover {
    padding: 5px;
  }

  h1.page_header {
    font-size: 36px;
  }

  header.album_header {
    flex-direction: column;
  }

  #title {
    text-align: center;
  }

  #year {
    text-align: center;
  }

  img.album_cover_choices {
    max-width: 10em;
    max-height: 10em;
  }

  /* #gone_album_cover {
    padding-bottom: 10px;
  } */
}

@media only screen and (max-width: 900px) {
  img.album_cover_choices {
    max-width: 15em;
    max-height: 15em;
  }
}

nav > a:hover {
  border-bottom: 3px solid whitesmoke;
  transition: border-bottom 0.2s ease-in;
}

.active {
  border-bottom: 3px solid whitesmoke;
}

nav > a:link {
  text-decoration: none;
}

div.socials > a {
  margin: 0 15px;
  opacity: 0.7;
  transition: opacity 0.2s ease-out;
}

div.socials > a:hover {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

.album_cover {
  transition: opacity 0.2s ease-out;
}

.album_cover:hover {
  opacity: 0.7;
  transition: opacity 0.2s ease-in;
}

.available_now {
  color: whitesmoke;
  font-size: 48px;
  border-bottom: 3px solid whitesmoke;
  text-decoration: none;
  opacity: 0.8;
  transition: opacity 0.2s ease-out;
}

.available_now:hover {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

.soon {
  color: white;
  font-size: 64px;
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: "Raleway", sans-serif;
}

.dig {
  width: 266px;
  height: 266px;
}

.construction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.playButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 25px;
}

.page_header {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-family: "Raleway", sans-serif;
}
.album_wrapper {
  display: block;
  max-width: 160vh;
  margin: 0 auto;
}

.album_header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.album_details {
  text-align: left;
  width: fit-content;
}

.album_title {
  margin-right: 10%;
  color: whitesmoke;
  font-family: "Raleway", sans-serif;
}

.album_release {
  color: whitesmoke;
  font-size: 3vh;
}

.album_actions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: right;
  flex-wrap: wrap;
}

.album_actions > a {
  margin-right: 5px;
}

.buttons {
  border: 3px solid whitesmoke;
  font-size: 18px;
  color: whitesmoke;
  padding: 8px 24px;
  text-decoration: none;
  box-sizing: border-box;
  text-transform: uppercase;
}

.buttons:hover {
  background-color: whitesmoke;
  color: black;
}

.buttons:active {
  opacity: 0.8;
}

.title {
  color: white;
}

.shows {
  margin: auto;
  max-width: 160vh;
  text-align: center;
}

.album_cover_choices {
  max-width: 21em;
  max-height: 21em;
  box-sizing: border-box;
  margin-left: 10px;
  margin-top: 10px;
  transition: opacity 0.2s ease-out;
}

.album_cover_choices:hover {
  border: 5px solid black;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s ease-in;
}

.cover_arts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
